name: Build JAR artifact

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1

    - name: Build with Gradle Wrapper
      run: ./gradlew build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifact
        path: build/libs/extensibility-helper-*.jar
        retention-days: 7